<md-content class="md-padding">
    <div class="md-padding" layout-lg="row" layout-gt-lg="row" layout-wrap>
        <md-card flex-lg="99" flex-gt-lg="99">
            <leaflet ng-if="map" markers="map.markers" center="map.center"></leaflet>
        </md-card>
    </div>

    <div class="md-padding" layout-lg="row" layout-gt-lg="row" layout-wrap>

        <md-card flex-lg="30" flex-gt-lg="20">
            <img ng-src="{{user.image}}" class="md-card-image" alt="{{user.name}}">
            <md-card-content>
                <h2 class="md-title">
                    {{user.name}}
                    <ng-md-icon icon="{{user.performance | performance}}"></ng-md-icon>
                </h2>
                <p>{{user.age}} {{'user.age.label' | translate}}</p>
            </md-card-content>
        </md-card>

        <md-card flex-lg="69" flex-gt-lg="79">
            <md-card-content layout="column">
                <h1>{{'user.card.title' | translate}}</h1>
                <p>{{user.description}}</p>
                <div class="md-actions" layout="row" layout-align="end end">
                    <md-button class="md-raised" ng-click="action1()">
                        {{'user.action.1.label' | translate}}
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="delete(user)">
                        {{'user.action.2.label' | translate}}
                    </md-button>
                </div>
            </md-card-content>
        </md-card>

    </div>

    <div>
        <md-grid-list
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px" >
            <md-grid-tile ng-repeat="tile in tiles"
                          md-rowspan="{{tile.size.row}}"
                          md-colspan="{{tile.size.col}}"
                          md-colspan-sm="1">
                <md-grid-tile-header>
                    <h3>{{tile.title}}</h3>
                </md-grid-tile-header>
                <video ng-if="tile.src" class="pull-right" controls>
                    <source ng-src="{{transformUrl(tile.src)}}" type="video/mp4">
                </video>
            </md-grid-tile>
        </md-grid-list>
    </div>

</md-content>