<md-content>
    <div layout-lg="row" layout-gt-lg="row" layout-wrap>
        <md-card flex-lg="99" flex-gt-lg="99">
            <leaflet ng-if="map" markers="map.markers" center="map.center"></leaflet>
        </md-card>
    </div>

    <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-gt-lg="row" layout-wrap>

        <md-card flex-md flex-gt-md="40" flex-lg="30" flex-gt-lg="20">
            <img ng-src="{{user.image}}" class="md-card-image" alt="{{user.name}}">
            <md-card-content>
                <p>
                    <strong>{{user.name}}</strong>
                </p>
            </md-card-content>
        </md-card>

        <md-card flex-md flex-gt-md flex-lg flex-gt-lg="30">
            <md-card-content layout="column">
                <h2>
                    {{'user.card.title' | translate}}
                </h2>
                <p>
                    {{user.age}} {{'user.age.label' | translate}}
                    <br/>
                    {{'user.performance.label' | translate}}
                    <ng-md-icon icon="{{user.performance | performance}}"></ng-md-icon>
                </p>
                <div class="md-actions" layout="column" layout-align="start end">
                    <md-button class="md-raised" ng-click="action1()">
                        {{'user.action.1.label' | translate}}
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="delete(user)">
                        {{'user.action.2.label' | translate}}
                    </md-button>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex-gt-lg="49" layout-wrap>
            <md-card-content>
                <p>{{user.description}}</p>
            </md-card-content>
        </md-card>

    </div>

    <md-card>
        <md-grid-list
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px" >
            <md-grid-tile ng-repeat="tile in tiles" md-rowspan="{{tile.size.row}}" md-colspan="{{tile.size.col}}" md-colspan-sm="1">
                <div user-video-tile="tile"></div>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
</md-content>