<md-content>
    <div layout="row">
        <md-input-container>
            <label>{{'sidenav.search' | translate}}</label>
            <input ng-model="search" type="text"/>
        </md-input-container>
        <md-select placeholder="{{'sidenav.select.filter.placeholder' | translate}}" ng-model="sort">
            <md-option value="name">{{'sidenav.select.filter.name' | translate}}</md-option>
            <md-option value="id">{{'sidenav.select.filter.id' | translate}}</md-option>
        </md-select>
    </div>
<md-content>

<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">{{'sidenav.list.title' | translate}}</md-subheader>
        <md-list-item user-card-light="user" ng-repeat="user in users | filter:search | orderBy:sort" layout="row"></md-list-item>
    </md-list>
</md-content>